.cart-header{

background:#111;

padding:90px 0;

text-align:center;

}

.cart-header h1{

color:white;

font-size:48px;

font-weight:700;

}

.cart-header p{

color:#bbb;

margin-top:15px;

}

.cart-section{

background:#181818;

padding:70px 0;

min-height:70vh;

}

.cart-card{

background:#222;

padding:25px;

border-radius:15px;

margin-bottom:25px;

}

.cart-image{

width:100%;

border-radius:10px;

}

.cart-card h4{

color:white;

}

.cart-card p{

color:#bbb;

}

.price{

font-size:24px;

font-weight:700;

color:#ff3b30;

}

.quantity{

display:flex;

justify-content:center;

align-items:center;

}

.quantity button{

width:35px;

height:35px;

border:none;

background:#ff3b30;

color:white;

font-size:20px;

border-radius:6px;

}

.quantity input{

width:50px;

text-align:center;

margin:0 8px;

background:#333;

border:none;

color:white;

height:35px;

}

.total{

color:#ff3b30;

font-weight:700;

}

.remove{

text-decoration:none;

color:#bbb;

font-size:14px;

}

.remove:hover{

color:red;

}

.summary{

background:#222;

padding:30px;

border-radius:15px;

position:sticky;

top:100px;

}

.summary h3{

color:white;

margin-bottom:25px;

}

.summary-item{

display:flex;

justify-content:space-between;

margin-bottom:18px;

color:#ddd;

}

.summary-total{

display:flex;

justify-content:space-between;

font-size:24px;

font-weight:bold;

color:white;

}

@media(max-width:768px){

.cart-card{

text-align:center;

}

.cart-image{

margin-bottom:20px;

}

.summary{

margin-top:30px;

}

}