{% extends 'layout/base.html' %}

{% block title %}
Order Successful
{% endblock %}

{% block css %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/order_success.css') }}">
{% endblock %}

{% block content %}

<section class="success-section">

<div class="container">

<div class="success-card">

<div class="success-icon">

<i class="fa-solid fa-circle-check"></i>

</div>

<h1>

🎉 Order Placed Successfully!

</h1>

<p>

Thank you for ordering from
<strong>Malik Chicken Corner</strong>

</p>

<p>

Your delicious food is now being prepared.

</p>

<div class="order-box">

<div class="row mb-3">

<div class="col-6">

<strong>Order ID</strong>

</div>

<div class="col-6 text-end">

#MC{{ order.id }}

</div>

</div>

<hr>

<div class="row mb-3">

<div class="col-6">

<strong>Status</strong>

</div>

<div class="col-6 text-end">

<span class="badge bg-warning">

{{ order.status }}

</span>

</div>

</div>

<hr>

<div class="row mb-3">

<div class="col-6">

<strong>Payment Method</strong>

</div>
<div class="col-6 text-end">

{% if payment %}

    {% if payment.payment_method == "COD" %}
        <span class="payment-badge payment-cod">
            Cash On Delivery
        </span>
    {% else %}
        <span class="payment-badge payment-upi">
            {{ payment.payment_method }}
        </span>
    {% endif %}

{% else %}
    N/A
{% endif %}

</div>
</div>

<hr>

<div class="row mb-3">

<div class="col-6">

<strong>Total Amount</strong>

</div>

<div class="col-6 text-end">

₹{{ order.total_amount }}

</div>

</div>

</div>

<div class="success-buttons">

<a href="{{ url_for('menu') }}"
class="btn btn-danger">

Continue Shopping

</a>

<a href="{{ url_for('home') }}"
class="btn btn-outline-dark">

Back To Home

</a>

</div>

</div>

</div>

</section>

{% endblock %}